
/* h1 {
    color: darkblue;
}
.img2{
    width: 100%;
} */

@font-face {
    font-family: "Chalet";
    font-style: normal;
    font-weight: normal;
    src: url("../assets/chalet.woff") format("woff");
}